

<div id='top-menu' class='top-menu'>

  <div class='menu-content wrap'>
  <div id="ember9" class="ember-view"><div class="HeaderLogo"><a href="https://www2.purpleair.com" data-auto-route="true"><img src="https://aws1.discourse-cdn.com/business7/uploads/purpleair/original/1X/9aef3e28e1940bc70919380bc0e9e59f2a55e0ce.png" alt="PurpleAir" id="header-logo" class="logo-big"></a></div></div>
    <div class="menu-placeholder">
      <div class="menu-item-container">
        <div class="menu-items">
          {{#each menuItems as |item|}}
            <a class="menu-item {{item.view}} {{item.className}}" title="{{item.title}}">
              {{#if item.icon}}
                {{d-icon item.icon}}
              {{/if}}
              {{item.text}}
              {{#if showCaret}}
                {{d-icon "caret-right"}}
              {{/if}}
              <div class="d-header-dropdown">
                <ul class="d-dropdown-menu">
                  {{#each item.childItems as |child|}}
                    {{#if child.divider}}
                      <li class='divider'></li>
                    {{else}}
                      <li class="submenu-item {{child.className}}">
                        <a target="{{child.target}}" title="{{child.title}}" class="submenu-link" href="{{child.href}}">
                          {{#if child.icon}}
                            {{d-icon child.icon}}
                          {{/if}}
                          {{child.text}}
                        </a>
                      </li>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
